@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;500&family=Lato:wght@300;400&family=Raleway&display=swap');

@font-face {
    font-family: neurial;
    src: url('../fonts/NeurialGroteskFontFamily/NeurialGrotesk-Bold.otf');
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Raleway', sans-serif;
}

.nav-item { 
    grid-area: nav-item;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1030;
    background-color: white;
    align-items: center;
    justify-content: center;
    
}

.nav-item>img, span {
    position: relative;
    right: 100px;
}

.nav-item>a {
    text-decoration: none;
    color: darkblue;
    font-size: larger;
    padding: 20px 50px;
    border-bottom: 4px solid white;
} 

.nav-item>a:hover {
    border-bottom: 4px solid blue;
}@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;500&family=Lato:wght@300;400&family=Raleway&display=swap');

@font-face {
    font-family: neurial;
    src: url('../fonts/NeurialGroteskFontFamily/NeurialGrotesk-Bold.otf');
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Raleway', sans-serif;
}

.nav-item { 
    grid-area: nav-item;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1030;
    background-color: white;
    align-items: center;
    justify-content: center;
    
}

.nav-item>img, span {
    position: relative;
    right: 100px;
}

.nav-item>a {
    text-decoration: none;
    color: darkblue;
    font-size: larger;
    padding: 20px 50px;
    border-bottom: 4px solid white;
} 

.nav-item>a:hover {
    border-bottom: 4px solid blue;
}

#contact-container {
    margin-top: 20vh;
    margin-left: 35vw;
}

div>img {
    width: 50px;
}

.info {
    display: flex;
    padding: 10px;
}

.info>p {
    align-self: center;
    padding-left: 50px;
}
