@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;500&family=Lato:wght@300;400&family=Raleway&display=swap');

@font-face {
    font-family: neurial;
    src: url('../fonts/NeurialGroteskFontFamily/NeurialGrotesk-Bold.otf');
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Raleway', sans-serif;
}

.nav-item { 
    grid-area: nav-item;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1030;
    background-color: white;
    align-items: center;
    justify-content: center;
    
}

.nav-item>img, span {
    position: relative;
    right: 100px;
}

.nav-item>a {
    text-decoration: none;
    color: darkblue;
    font-size: larger;
    padding: 20px 50px;
    border-bottom: 4px solid white;
} 

.nav-item>a:hover {
    border-bottom: 4px solid blue;
}

h1 {
    font-size: 50px;
    text-align: center;
    padding: 15px 15px;
    color: red;
    font-family: 'neurial';
}

#master-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10vh;
}

img {
    width: 30vw;
    border-radius: 10px;
}

label, input {
    width: 20vw;
}